<h1 class="text-center m4">{{blogPost.title}}</h1>

<div class="blog-post card mb-5 m-2">
    <p class="m-2">{{blogPost.content}}</p>
    <p class="m-2">Posted by {{blogPost.user.name}} - {{format_date blogPost.createdAt}}</p>

    <p class="m-2">Comments</p>
    {{#if blogPost.comments.length}}
    {{#each blogPost.comments as |comment|}}
    <div class="comment m-2">
        <p class="m-2"><strong>{{comment.user.name}}</strong>: {{comment.content}} - {{format_date comment.createdAt "YYYY-MM-DD"}}
        </p>
        {{#if (eq comment.user.name ../user.name)}}
        <button class="btn btn-sm btn-danger delete-comment-button" data-id="{{comment.id}}">Delete</button>
        {{/if}}
    </div>
    {{/each}}
    {{else}}
    {{#if logged_in}}
    <div class="m-2">
        <p class="m-3" ><strong>Be the first to comment!</strong></p>
    </div>

    {{/if}}
    {{/if}}

    {{#if logged_in}}
    <form action="/comments/create" method="POST" class="mb-3 new-comment-form">
        <input type="hidden" name="blogPost_id" value="{{blogPost.id}}">
        <input type="text" name="content" class="form-control" id="userComment" placeholder="Leave a comment">
        <button type="submit" class="btn btn-primary m-1">Comment</button>
    </form>
    {{/if}}
</div>

{{#if logged_in}}
<script src="/js/comments.js"></script>
{{/if}}