<h1 class="text-center m4">Welcome to the Tech Blog!</h1>

{{#if logged_in}}
    <p class="text-center m4">Hello, {{user.name}}! Check out the latest blog posts below.</p>
{{else}}
    <p>Please <a href="/login">log in</a> or <a href="/login">sign up</a> to view and create blog posts.</p>
{{/if}}

<div class="blog-posts">
    {{#each blogPosts as |blogPost|}}
        <div class="blog-post">
            <h2>{{blogPost.title}}</h2>
            <p>{{blogPost.content}}</p>
            <p>Posted by {{user.name}} on {{format_date blogPost.createdAt}}</p>
        </div>
    {{/each}}
</div>
