<h1 class="text-center m4">Welcome to the Tech Blog!</h1>

{{#if logged_in}}
<p class="text-center m4">Hello, {{user.name}}! Check out the latest blog posts below.</p>
{{else}}
<p>Please <a href="/login">log in</a> or <a href="/login">sign up</a> to view and create blog posts.</p>
{{/if}}

{{#each blogPosts as |blogPost|}}
<div class="blog-post">
    <h2>{{blogPost.title}}</h2>
    <p>{{blogPost.content}}</p>
    <p>Posted by {{blogPost.name}} on {{format_date blogPost.createdAt}}</p>

    {{#each blogPost.comments as |comment|}}
    <div class="comment">
        <p><strong>{{comment.user.name}}</strong> said: {{comment.content}} on {{format_date comment.createdAt}}</p>
    </div>
    {{/each}}
    {{/each}}
</div>
{{#if logged_in}}
<form action="/homepage/create" method="POST" class="mb-4 new-comment-form">
    <input type="hidden" id="postId" value="{{blogPost.id}}">
    <input type="text" name="content" id="userComment" placeholder="Leave a comment">
    <button type="submit">Comment</button>
</form>
<p>YOU ARE LOGGED IN TEST</p>
<script src="/js/homepage.js"></script>
{{else}}
<p>Sing in to leave a comment.</p>
{{/if}}